/*  msie.css - MoinMoin MS Internet explorer bug workarounds  - Copied from ROS wiki */

/* IE6 and IE7 both suck with :before */
a.www { padding-left: 14px; background: url(../img/moin-www.png) left center no-repeat; }
a.http { padding-left: 14px; background: url(../img/moin-www.png) left center no-repeat; }
a.https { padding-left: 14px; background: url(../img/moin-www.png) left center no-repeat; }
a.file { padding-left: 14px; background: url(../img/moin-ftp.png) left center no-repeat; }
a.ftp { padding-left: 14px; background: url(../img/moin-ftp.png) left center no-repeat; }
a.nntp { padding-left: 14px; background: url(../img/moin-news.png) left center no-repeat; }
a.news { padding-left: 14px; background: url(../img/moin-news.png) left center no-repeat; }
a.telnet, a.ssh { padding-left: 14px; background: url(../img/moin-telnet.png) left center no-repeat; }
a.irc, a.ircs  { padding-left: 14px; background: url(../img/moin-telnet.png) left center no-repeat; }
a.mailto { padding-left: 14px; background: url(../img/moin-email.png) left center no-repeat; }
a.attachment { padding-left: 14px; background: url(../img/moin-attach.png) left center no-repeat; }
a.badinterwiki { padding-left: 14px; background: url(../img/moin-inter.png) left center no-repeat; }
a.interwiki { padding-left: 14px; background: url(../img/moin-inter.png) left center no-repeat; }
#message .warning { padding-left: 20px; background: url(../img/alert.png) left center no-repeat; }
#message .error { padding-left: 20px; background: url(../img/icon-error.png) left center no-repeat; }

#pagetrail li, #pagelocation li {
  border-left: 1px solid #AAA;
  padding: 0 0.3em;
}

/* Spans for line-anchors - needed for IE6 and IE7 where omitting the "display: none" triggers rendering bugs. */
span.anchor { display: none; }

/* Fix for PeekABoo Bug */
#page { min-height: 1%; }

/* Some * html hacks for IE6 and below only (IE7 ignores * html) */

/* IE6 has a bug with rendering of float elements. We workaround this bug by
 * assigning those elements a height attribute because we currently don't know
 * a better solution. This results in IE calculating the correct height of the
 * characters and displaying them correctly. We don't know any negative side
 * effects of this workaround:
 */
* html div#page, * html div#header { height: 0.001%; }

